.main-content {
  margin-left: 250px;
  margin-top: 60px;
  padding: 2rem;
  flex: 1;
  overflow-y: auto;
  transition: all 0.3s ease;

  &.collapsed {
    margin-left: 60px;
    transition: all 0.3s ease;
  }
}

#app {
  @include flex-column;
  min-height: 100vh;
}

.box-layout{
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 0.85rem;
  margin-bottom: 15px;
}

.list-group-item{
  display: flex;
  align-items: center;
  gap: 10px;
}

.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #f5f5f5;
  border: 1px solid rgb(197 197 197 / 30%);
}

/* pagination.scss */
.pagination-wrapper {
  margin: 2rem 0;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 6px;
}

.page-item {
  &.active {
    .page-link {
      background-color: var(--color-primary);
      color: white;
      border-color: var(--color-primary);
    }
  }

  &.disabled {
    .page-link {
      background-color: #f8f9fa;
      color: #adb5bd;
      border-color: #dee2e6;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: auto;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  background-color: white;
  color: #495057;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 8px;
  font-weight: 500;

  &:hover:not(.disabled) {
    background-color: #e9ecef;
    border-color: #ced4da;
    color: #343a40;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgb(15, 197, 187);
  }
}

/* Responsive */
@media (max-width: 600px) {
  .pagination {
    gap: 6px;
  }

  .page-link {
    min-width: 34px;
    height: 34px;
    font-size: 14px;
    padding: 0 10px;
  }
}