.main-content {
  margin-left: 250px;
  margin-top: 60px;
  padding: 2rem;
  flex: 1;
  overflow-y: auto;
  transition: all 0.3s ease;

  &.collapsed {
    margin-left: 60px;
    transition: all 0.3s ease;
  }
}

#app {
  @include flex-column;
  min-height: 100vh;
}

.box-layout{
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 0.85rem;
  margin-bottom: 15px;
}

.list-group-item{
  display: flex;
  align-items: center;
  gap: 10px;
}