.btn {
  @include button-base;

  &--default {
    @include button-variant($background-color, $text-color);
    border: 1px solid #e0e0e0;
  }

  &--primary {
    @include button-variant($color-primary, #fff);
  }

  &--secondary {
    @include button-variant($color-secondary, #fff);
  }

  &--danger {
    @include button-variant($color-danger, #fff);
  }

  &--success {
    @include button-variant($color-success, #fff);
  }

  &--info {
    @include button-variant($color-info, #fff);
  }

  &--warning {
    @include button-variant($color-warning, #212529);
  }

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .icon{
    width: 18px;
    height: 18px;
    fill: #fff;
  }

  &--remove{
    @keyframes throw {
      from {
        transform: translate(-400%, -700%);
        opacity: 0;
      }
      to {
        transform: translate(0%, 0%);
        opacity: 1;
      }
    }
    .icon-remove{
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .bin-bottom {
      width: 12px;
      z-index: 2;
    }
    .bin-top {
      width: 16px;
      transform-origin: right;
      transition-duration: 0.3s;
      z-index: 2;
    }
    &:hover {
      .bin-top {
        transform: rotate(45deg);
      }
      .garbage {
        animation: throw 0.4s linear;
      }
    }

    .garbage {
      position: absolute;
      width: 14px;
      height: auto;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
    }
  }

  &--small{
    font-size: 12px;
    padding: 0.5rem 0.5rem;

    &.btn--remove{
      .bin-bottom {
        width: 10px;
      }
      .bin-top {
        width: 14px;
      }
    }
  }
}

.btn-style{
  @include button-style($color-primary);

  &--secondary {
    @include button-style($color-secondary);
  }

  &--danger {
    @include button-style($color-danger);
  }

  &--success {
    @include button-style($color-success);
  }

  &--info {
    @include button-style($color-info);
  }

  &--warning {
    @include button-style($color-warning);
  }
}