@import '../abstracts/variables';
@import '../abstracts/mixins';

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-toggle {
    @include button-variant(transparent, $text-color, transparent);
    background-color: transparent;
    padding: 0;

    .arrow{
      position: relative;
      padding-right: 2rem;

      &::after {
        content: '';
        position: absolute;
        right: 1rem;
        width: 4px;
        height: 4px;
        border-right: 2px solid var(--text-color);
        border-bottom: 2px solid var(--text-color);
        transform: rotate(45deg);
        transition: transform 0.3s ease;
      }
    }

    &.open-dropdown{
      .arrow{
        position: relative;
        &:after{
          content: '';
          position: absolute;
          right: 1rem;
          width: 4px;
          height: 4px;
          border-right: 2px solid var(--text-color);
          border-bottom: 2px solid var(--text-color);
          transform: rotate(-135deg);
          transition: transform 0.3s ease;
        }
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    z-index: 1000;
    min-width: 160px;
    padding: 0.5rem 0;
    margin: 5px 0 0;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-medium);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top left;
    transition: opacity 0.2s ease, transform 0.2s ease;

    &.show {
      opacity: 1;
      transform: scaleY(1);

      .dropdown-item {
        opacity: 0;
        transform: translateY(-10px);
        animation: slideIn 0.3s ease forwards;

        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            animation-delay: #{($i - 1) * 0.1}s;
          }
        }
      }
    }

    &[style*="bottom"] {
      transform-origin: bottom left;
    }

    .dropdown-item {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      padding: 0.5rem 1rem;
      font-size: var(--font-size-base);
      color: var(--text-color);
      text-align: left;
      background: none;
      border: none;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover,
      &:focus {
        background-color: #a9a9a91c;
      }

      &.active {
        background-color: #81e1e126;
        color: #00b5b5;
      }

      &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
        color: #bbbbbb;
        //opacity: 0.65;
      }

      .icon{
        width: 20px;
        height: 20px;
      }
    }

    .dropdown-divider {
      height: 1px;
      margin: 0.5rem 0;
      background-color: var(--border-color);
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}