// Mixin Buttons
@mixin button-base {
  display: inline-flex;
  align-items: center;
  min-width: 35px;
  min-height: 35px;
  justify-content: center;
  gap: 5px;
  padding: 0.75rem 1rem;
  font-size: var(--font-size-base);
  font-family: var(--font-primary), serif;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;

  &:active {
    transform: scale(0.9);
  }
}
@mixin  button-style($bg-button){
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: var(--font-size-base);
  font-family: var(--font-primary), serif;
  font-weight: 600;
  border-radius: var(--border-radius-medium);
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  text-transform: uppercase;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  &:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: $bg-button;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  &:hover {
    color: #ffffff;
    border: 1px solid $bg-button;

    &:before {
      top: -35%;
      background-color: $bg-button;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }

    &:after {
      top: -45%;
      background-color: $bg-button;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
  }

  &:active {
    transform: scale(0.9);
  }
}
@mixin button-variant($bg-color, $text-color: #fff, $hover-bg: darken($bg-color, 10%)) {
  @include button-base;
  background-color: $bg-color;
  color: $text-color;

  &:hover {
    background-color: $hover-bg;
    color: $text-color;
  }
  &.no-padding{
    padding: 0 !important;
  }
}

// Mixin Flex basic
@mixin flex($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
@mixin flex-center {
  @include flex($justify: center, $align: center);
}
@mixin flex-between {
  @include flex($justify: space-between, $align: center);
}
@mixin flex-around {
  @include flex($justify: space-around, $align: center);
}
@mixin flex-column {
  @include flex($direction: column);
}
@mixin flex-column-center {
  @include flex($direction: column, $justify: center, $align: center);
}
@mixin flex-item($grow: 0, $shrink: 1, $basis: auto) {
  flex: $grow $shrink $basis;
}