* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary), serif;
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--background-color);
  font-weight: var(--font-weight-normal)
}

#app {
  background-color: #ededed;
}

.modal-open {
  overflow: hidden;
  padding-right: 15px;
}